<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Angular Router</h1>
  <nav>
    <a routerLink="/hero/1" routerLinkActive="active">Hero</a>
    <a routerLink="/learn" routerLinkActive="active">Learn</a>
    <a routerLink="/detail" routerLinkActive="active">Detail</a>
    <a routerLink="/name" routerLinkActive="active">Name</a>
    <a routerLink="/version" routerLinkActive="active">Version</a>
    <a routerLink="/size" routerLinkActive="active">Size</a>
    <a routerLink="/voter" routerLinkActive="active">Voter</a>
    <a routerLink="/timer" routerLinkActive="active">Timer</a>
    <a routerLink="/timerview" routerLinkActive="active">TimerView</a>
  </nav>
  <router-outlet></router-outlet>
</div>